* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 200;
    background-color: #82bbf3;
    color: #1a8cff;
}

.login-container {
    background-color: white;
    height: 450px;
    width: 30%;
    margin-left: 650px;
    border-radius: 20px;
    box-shadow: 2px white;
    text-align: center;
    align-items: center;
}

.header {
    padding-top: 20px;
    margin-top: 200px;
    font-size: 25px;
}

.form-section {
    padding: 20px;
}

.form-section label {
    margin: 10px;
}

.email input, .password input, .first_name input, .last_name input {
    height: 30px;
    width: 300px;
    font-size: 17px;
    text-align: center;
    border-radius: 6px;
    border-color: #1a8cff;
    border-style: solid;
}

.submit-btn {
    height: 40px;
    width: 110px;
    margin-top: 20px;
    font-size: 18px;
    background-color: white;
    color: #1a8cff;
    border: 1px solid #1a8cff;
    border-radius: 5px;
}

.submit-btn:hover {
    background-color: #1a8cff;
    color: white;
}

#error-first, #error-last, #error-email, #error-password {
    visibility: hidden;
    color: red;
    font-size: 13px;
}

.form-section p {
    font-size: 17px;
    margin-top: 30px;
}

.form-section a {
    text-decoration: none;
    color: #1a8cff;
    font-weight: 600;
}

@media (min-width: 1024px) {
    .login-container {
        margin-left: 500px;
    }
}

@media (min-width: 1680px) {
    .login-container {
        margin-left: 600px;
    }
}

@media (min-width: 2560px) {
    .login-container {
        margin-left: 900px;
    }
}

@media (max-width: 1280px) {
    .login-container {
        margin-left: 400px;
        margin-top: -100px;
    }
    .email input, .password input, .first_name input, .last_name input {
        width: 90%;
        font-size: 15px;
    }
}

@media (max-width: 800px) {
    body {
        margin: 0;
    }
    .login-container {
        width: 90%;
        margin-left: 20px;
    }
}

@media (max-width: 375px) {
    .email input, .password input, .first_name input, .last_name input {
        width: 90%;
        font-size: 15px;
    }
    .login-container {
        margin-bottom: 20px;
    }
}